extends layout

block content
  h1= title
  img(src=serie.picture_url, alt="")
  div= serie.summary
  br
  div 
    div Creator: 
      ul 
        li= serie.creator
    div Stars:
      ul 
        each star in serie.stars
          li=star
    div Genres: 
      ul 
        each genre in genre_list
          li
            a(href=genre.url)=genre.name
  a(href="/serie/" + serie._id + "/delete") Delete Serie
  a(href="/serie/" + serie._id + "/update") Update Serie