extends layout

block content
  h1= title
  div= serie.summary
  br
  div 
    div Creator: 
      ul 
        li= serie.creator
    div Stars:
      ul 
        each star in serie.stars
          li=star
    div Genres: 
      ul 
        each genre in genre_list
          li
            a(href=genre.url)=genre.name
  